.angular{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -400px -391px;}
.bootstrap{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -400px -511px;}
.code{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -350px -491px;}
.copy-w{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -353px -541px;}
.email{top:0px;left:0px;
width:350px;height:271px;background: url("../img/sprites.png") no-repeat -0px -0px;}
.fb{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -353px -641px;}
.forecast{top:0px;left:0px;
width:350px;height:271px;background: url("../img/sprites.png") no-repeat -0px -271px;}
.foundation{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -403px -541px;}
.git{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -350px -441px;}
.github{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -290px -662px;}
.goback{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -353px -591px;}
.html5-big{top:0px;left:0px;
width:94px;height:100px;background: url("../img/sprites.png") no-repeat -199px -542px;}
.html5{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -260px -662px;}
.javascript{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -400px -451px;}
.jquery{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -400px -481px;}
.li{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -350px -391px;}
.mailchimp{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -320px -662px;}
.marketing-w{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -110px -642px;}
.moodymonday{top:0px;left:0px;
width:60px;height:58px;background: url("../img/sprites.png") no-repeat -0px -642px;}
.nobelglobe{top:0px;left:0px;
width:60px;height:60px;background: url("../img/sprites.png") no-repeat -293px -542px;}
.onestopit{top:0px;left:0px;
width:60px;height:60px;background: url("../img/sprites.png") no-repeat -350px -271px;}
.photoshop{top:0px;left:0px;
width:99px;height:100px;background: url("../img/sprites.png") no-repeat -100px -542px;}
.php{top:0px;left:0px;
width:30px;height:30px;background: url("../img/sprites.png") no-repeat -400px -421px;}
.responsive-grey{top:0px;left:0px;
width:100px;height:100px;background: url("../img/sprites.png") no-repeat -0px -542px;}
.skyscanner{top:0px;left:0px;
width:60px;height:60px;background: url("../img/sprites.png") no-repeat -293px -602px;}
.so{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -60px -642px;}
.social-w{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -160px -642px;}
.ah-logo{top:0px;left:0px;
width:60px;height:60px;background: url("../img/sprites.png") no-repeat -350px -331px;}
.trofeo{top:0px;left:0px;
width:350px;height:271px;background: url("../img/sprites.png") no-repeat -350px -0px;}
.tw{top:0px;left:0px;
width:50px;height:50px;background: url("../img/sprites.png") no-repeat -210px -642px;}
